@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('../imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
}

img#phone{
    position: absolute;
    top: 40%;
    left: 30%;
}

iframe {
    position: absolute;
    top: 8%;
    left: 38%;
    height: 500px;
}

#redes {
    position: absolute;
    top: 8%;
    left: 93%;
}

.logos{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 1px solid black;
    margin-bottom: 10px;
}