@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body{
    background-image: url('../imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
}

main {
    position: relative;
    height: 100vh;
}

#phone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('../imagens/frame-iphone.png') no-repeat;

    height: 630px;
    width: 310px;
}

iframe#frame {
    position: relative;
    top: 12.6%;
    left: 7%;
    width: 269px;
    height: 472px;
}

#redes {
    text-align: right;
    margin-right: 30px;
    margin-top: 15px;
}

img{
    width: 60px;
    margin-bottom: 15px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.198);
    /* Borda faz parte da caixa */
    box-sizing: border-box;
}

img:hover{
    border: 2px solid white;
    transform: translate(-5px, -3px);
    /* Uma transição do transforme e borda acima*/
    transition: transform .5s, boder .7s;
}